
body{
  background-color: rgb(91, 154, 154);
}

.toggle-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px; /* Adjusted to match the original inline style */
}

#editor-title, #previewer-title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

#editor, #preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #3b94e8;
}

img{
  max-width: 100%;
}

#preview blockquote {
  border-left: 4px solid #25272a;
  padding: 0.4em;
}

#preview table {
  border-collapse: collapse;
}

#preview th, #preview td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#preview pre {
  background: #fff;
  color: #222;
  padding: 12px;
}

#preview code {
  background: #fff;
  color: #222;
  border-radius: 3px;
  padding: 2px 6px;
  font-family: monospace;
}

#preview h1{
  border-bottom: 2px solid #000000;
}

#preview h2{
  border-bottom: 1px solid #000000;
}